@import url("https://fonts.googleapis.com/css2?family=Rokkitt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

$clr-body-bg: #f6f7fb;
$clr-white: #fff;
$clr-accent: #4735af;
$clr-gray: #b1b5c2;
$clr-gray-light: #f5f7fa;
$clr-gray-dark: #242a3780;
$clr-gray-darkest: #6d7a8d;
$clr-gray-darkest-hover: #47566f;
$clr-gray-header: #e0e5eb;
$clr-gray-support: #898f9f;
$clr-accent: #adff2f;
$clr: #47566f;

$clr-font-main: #242a37;

$clr-backdrop: #9fa5afe3;
$clr-overlay: #2b2b2b1a;
$clr-field-border: #a6abb9;

$shadow-header: 0px 2px 3px #091e3f1a;
$shadow-btn: 0px 2px 4px #00000040;
$shadow-field: inset 0px 1px 2px #1d1d1b26;
$shadow-goals: 4px 4px 8px #242a3726;
$gradient: linear-gradient(to bottom, #091e3fcc, #091e3fcc);

$transition: 300ms ease-in-out;
$transition-slow: 1000ms linear;

$font-main: "Rokkitt", serif;
$font-brand: "Abril Fatface", cursive;
